@model IEnumerable<HotelWebSystem.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>List of Employee</h1>
    <a asp-action="Save" class="btn btn-primary">Create New</a>
    <hr>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <img src="~/@item.ImgPath" height="100" width="150" class="rounded" /><br>
                <strong>@item.EmployeeName</strong> <br>
                @item.EmployeeAddress <br>
                @item.EmployeeNumber <br>
                @item.EmployeePost <br>
                @item.EmployeeSalary <br>
                <a asp-action="Save" asp-route-id="@item.EmployeeId" class="btn btn-outline-success btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-outline-warning btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-outline-danger btn-sm">Delete</a>
                <br><br>
            </div>
        }

    </div>
    <hr>
</div>