@model IEnumerable<HotelWebSystem.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-sm">
    <thead style="background-color:black; text-align:center; color:white; font-size:small;">
        <tr>
            <th>Room Number</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.RoomNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
