@model IEnumerable<HotelWebSystem.Models.EventBooking>

@{
    ViewData["Title"] = "Index";
}

<h3>Event Booking List</h3>

<table class="table table-bordered table-sm" id="table_id">
    <thead style="background-color:black; text-align:center; color:white; font-size:small;">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Number</th>
            <th>Event</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

